@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --light: 223.81 0% 98%;
    --dark: 239.95 9% 6%;
    --bg: 0 0% 100%;
    --fg: 239.93 9% 4%;
    --primary: 256 51% 51%;
    --primary-fg: 0 0% 100%;
    --secondary: 240 5.88% 90%;
    --secondary-fg: 240.01 6% 10%;
    --tertiary: 0 0% 100%;
    --tertiary-fg: 240 4% 16%;
    --overlay: 0 0% 100%;
    --overlay-fg: 239.93 9% 4%;
    --muted: 240 5.88% 90%;
    --muted-fg: 240 4% 41%;
    --accent: 216.77 100% 50%;
    --accent-fg: 0 0% 100%;
    --accent-subtle: 216.92 99% 97%;
    --accent-subtle-fg: 216.74 100% 40%;
    --success: 161.17 91% 31%;
    --success-fg: 151.77 82% 96%;
    --info: 205.77 100% 50%;
    --info-fg: 0 0% 100%;
    --danger: 0.01 72% 51%;
    --danger-fg: 360 86% 97%;
    --warning: 43.2 96% 56.99%;
    --warning-fg: 20.91 91% 14.1%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: var(--primary);
    --toggle: 240.01 5% 84%;
    --radius: 0.5rem;
    --primary-chart: 216.74 100% 45%;
    --secondary-chart: 219.83 100% 77%;
    --tertiary-chart: 216.01 92% 60%;
    --highlight-chart: 210 98% 78%;
    --accent-chart: 210 98% 78%;
    --blue: 236 72% 59%;
    --bg-black: 0 0% 5%;
    --light-green: 158 21% 79%;
    --light-black: 0, 0%, 15%;
    --neutral-gray: 0, 0%, 56%;
    --gray-neutral-fg: 0, 0%, 44%;
    --gray-border: 0, 0%, 88%;
  }

  .dark {
    --bg: 0 0% 0%;
    --fg: 223.81 0% 98%;
    --primary: 216.04 98% 52%;
    --primary-fg: 0 0% 100%;
    --secondary: 239.99 6% 11%;
    --secondary-fg: 223.81 0% 98%;
    --tertiary: 240.02 10% 6%;
    --tertiary-fg: 239.99 4% 96%;
    --accent: 216.04 98% 52%;
    --accent-fg: 0 0% 100%;
    --accent-subtle: 215.99 94% 6%;
    --accent-subtle-fg: 204.92 100% 77%;
    --overlay: 240.03 6% 6%;
    --overlay-fg: 223.81 0% 98%;
    --muted: 239.95 3% 16%;
    --muted-fg: 240 5.03% 64.9%;
    --info: 205.77 100% 50%;
    --info-fg: 0 0% 100%;
    --success: 161.17 91% 31%;
    --success-fg: 151.77 82% 96%;
    --ring: var(--primary);
    --toggle: 239.99 5% 26%;
    --border: 240.01 7.1% 15%;
    --input: 239.95 3% 16%;
    --primary-chart: 221.19 83% 53%;
    --secondary-chart: 211.99 95% 68%;
    --tertiary-chart: 216.01 92% 60%;
    --highlight-chart: 210 98% 78%;
    --accent-chart: 212 96% 87%;
    --blue: 236 72% 59%;
  }
}

@layer base {
  /* html {
    font-family: var(--font-inter);
  } */

  /* dark mode */
  /* .dark {
    scrollbar-width: thin;

    @media (prefers-color-scheme: dark) {
      * {
        scrollbar-width: thin;
      }
    }
  } */

  /* Chrome, Edge, and Safari */
  /* *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-muted;
        border-radius: 14px;
        border: 3px solid transparent;
    } */
}

.bgcolor {
  /* background: linear-gradient(
    to bottom,
    hsla(258, 52%, 12%, 1) 0%,
    hsla(233, 100%, 4%, 1) 30%,
    hsla(228, 82%, 11%, 1) 70%
); */
  background: white;
}

@font-face {
  font-family: "Inter";
  src: url("../public/assets/font/inter/Inter-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../public/assets/font/inter/Inter-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-semiBold";
  src: url("../public/assets/font/inter/Inter-SemiBold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora-Regular";
  src: url("../public/assets/font/lora/Lora-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* added font */
@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../public/assets/font/playfairdisplay/PlayfairDisplay-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KaiseiHarunoUmi-Bold";
  src: url("../public/assets/font/KaiseiHarunoUmi/KaiseiHarunoUmi-Bold.otf")
    format("opentype");
  font-family: " KaiseiHarunoUmi-Bold";
  src: url("../public/assets/font/KaiseiHarunoUmi/KaiseiHarunoUmi-Bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "KaiseiHarunoUmi-Regular";
  src: url("../public/assets/font/KaiseiHarunoUmi/KaiseiHarunoUmi-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: " Arial-Regular";
  font-family: " Arial-Regular";
  src: url("../public/assets/font/Arial/Arial-Regular.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: " Arial-Bold";
  font-family: " Arial-Bold";
  src: url("../public/assets/font/Arial/Arial-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../public/assets/font/lora/Lora-Bold.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayFairDisplay-ExtraBold";
  src: url("../public/assets/font/playfair/PlayfairDisplay-ExtraBold.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.custom-textfield label {
  color: #252525;
  font-weight: 400;
  font-size: 1rem;
}

.auth-textfield label {
  color: #ffffffe6;
  font-weight: 400;
  font-size: 0.875rem;
}

.auth-textfield input {
  color: #ffffff;
  background-color: transparent;
  font-size: 0.875rem;
}

.custom-textfield input {
  color: #ffffff;
  font-size: 0.875rem;
}

.custom-textfield desc {
  color: #ffffff;
}

.purchase--btn:hover {
  box-shadow: 0px 0px 0px 3px #000212, 0px 0px 0px 4px #6442c1;
}

.border-custom {
  border: 1px solid #e1e1e1;
}

.custom-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.custom-container {
  padding: 16px;
}

@media (min-width: 640px) {
  .custom-container {
    padding: 16px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    padding: 32px;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    padding: 68px;
  }
}

@media (min-width: 1280px) {
  .custom-container {
    padding: 84px;
  }
}
@media (min-width: 1440px) {
  .custom-container {
    padding: 96px;
  }
}

@property --r2 {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@property --x {
  syntax: "<length>";
  inherits: false;
  initial-value: 20px;
}

/* Animated button styles */

.rotation-animation {
  animation: rotationKeyFrames -0.04s linear 3s infinite,
    translationKeyFrames -0.04s linear 3s infinite;
}

/* Keyframes for rotation */
@keyframes rotationKeyFrames {
  0% {
    --r2: 0deg;
  }
  32.8228% {
    --r2: 0deg;
  }
  50% {
    --r2: 180deg;
  }
  82.8228% {
    --r2: 180deg;
  }
  100% {
    --r2: 360deg;
  }
}

/* Keyframes for x movement */
@keyframes translationKeyFrames {
  0% {
    --x: 20px;
  }
  32.8228% {
    --x: 180px;
  }
  50% {
    --x: 180px;
  }
  82.8228% {
    --x: 20px;
  }
  100% {
    --x: 20px;
  }
}

/* Custom Scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  width: 4px; /* Width of vertical scrollbar */
  height: 6px; /* Height of horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent; /* Optional: Makes track transparent */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #6442c1;
  border-radius: 6px;
  border: 2px solid transparent; /* Optional: Adds spacing around the thumb */
}

/* Ensure Vertical Scrolling on Mobile */
@media (max-width: 768px) {
  .scrollbar-custom {
    /* Limits height on mobile */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; /* Improves scrolling on iOS */
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.messageBox:focus-within {
  border: 1px solid rgb(110, 110, 110);
}

#sendButton {
  width: fit-content;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}
#sendButton svg {
  height: 18px;
  transition: all 0.3s;
}
#sendButton svg path {
  transition: all 0.3s;
}
#sendButton:hover svg path {
  fill: #3c3c3c;
  stroke: white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}

.box-bg {
  background-color: #f5f5f5;
}

.line-color {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
}

.line-gradient {
  height: 1px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(61, 61, 61, 1) 52.88%,
    rgba(0, 0, 0, 0) 100%
  );
}

.line-gradient-header {
  height: 0.5px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(231, 231, 231, 1) 52.88%,
    rgba(0, 0, 0, 0) 100%
  );
}

.glass-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}


/* testimonials custom pagination bar */

.swiper-pagination {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  position: relative !important; 
  bottom: 0 !important;
}

/* bar style bullets (inactive) */
.swiper-pagination-bullet {
  display: inline-block;
  width: 16px !important; 
  height: 2px !important;
  background-color: #D9D9D9 !important; 
  border-radius: 999px !important;
  margin: 0 6px !important;
  opacity: 1 !important;
  transition: all 280ms ease !important;
}

/* active bullet style */
.swiper-pagination-bullet-active {
  background-color: #111 !important;
  width: 16px !important; 
  height: 2px !important;
}

/* prevent bullet transform changes */
.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  transform: none !important;
}

